<div>
    <div id="Content" class="row">
        <div id="ContentLeft" class="col">
            <div id="ContentLeftList">
                <label for="list-select" jhiTranslate="jhdemoApp.livre.sthem.them">Thème : </label>
                <select name="list" id="list-select">
                    <option value="">--Please choose an option--</option>
                    <option value="t1">them1</option>
                    <option value="t2">them2</option>
                    <option value="t3">them3</option>
                </select>
            </div>
            <div id="ContentLeftButton">
                <button type="button" class="btn btn-outline-secondary" jhiTranslate="jhdemoApp.livre.sthem.delete">Effacer toutes les selctions</button>
                <button type="button" class="btn btn-outline-secondary" jhiTranslate="jhdemoApp.livre.sthem.back">retour</button>
            </div>
        </div>

        <div id="ContentRight"  class="col">
            <div id="ContentRightAff" class="ContentRightAff">
                <h2>Livre1</h2>
                <h2>Livre2</h2>
                <h2>Livre3</h2>
                <h2>Livre4</h2>
                <h2>Livre5</h2>
            </div>
        </div>
    </div>
</div>