<div>
    <div id="Content" class="row">
        <div id="ContentLeft" class="col">
            <div id="ContentLeftList">
                <input type="text"/>
            </div>
            <div id="ContentLeftButton">
                <button type="button" class="btn btn-outline-secondary" jhiTranslate="jhdemoApp.livre.sautor.delete">Effacer toutes les selctions</button>
                <button type="button" class="btn btn-outline-secondary" jhiTranslate="jhdemoApp.livre.sautor.back">retour</button>
            </div>
        </div>

        <div id="ContentRight"  class="col">
            <div id="ContentRightAff" class="ContentRightAff">
                <h2>Livre1</h2>
                <h2>Livre2</h2>
                <h2>Livre3</h2>
                <h2>Livre4</h2>
                <h2>Livre5</h2>
            </div>
        </div>
    </div>
</div>
