<div class="row">
    <div id="Content">
        <div id="ContentLeft" class="col">
            <div id="ContentLeftList">
                <label for="list-select" jhiTranslate="jhdemoApp.livre.stitre.them">Thème : </label>
                <select name="list" id="list-select">
                    <option value="">--Please choose an option--</option>
                    <option value="t1">them1</option>
                    <option value="t2">them2</option>
                    <option value="t3">them3</option>
                </select>
            </div>
                <button type="button" class="btn btn-outline-secondary" jhiTranslate="jhdemoApp.livre.stitre.delete">Effacer toutes les selctions</button>
                <button type="button" class="btn btn-outline-secondary" jhiTranslate="jhdemoApp.livre.stitre.back">retour</button>
            </div>

        <div id="ContentRight"  class="col">
            <div id="ContentRightAff" class="ContentRightAff">
                <h2 jhiTranslate="jhdemoApp.livre.stitre.autor">Auteur : </h2>
                <h3 jhiTranslate="jhdemoApp.livre.stitre.them">Thèmes : </h3>
                <h4 jhiTranslate="jhdemoApp.livre.stitre.state">Etat : </h4>
                <h4 jhiTranslate="jhdemoApp.livre.stitre.disponibility">Disponibilité : </h4>
                <h4 jhiTranslate="jhdemoApp.livre.stitre.emplacement">Emplacement : </h4>
            </div>
        </div>
    </div>
</div>
